<h1>Imagenes</h1>
<br>
<div class="card-columns">
	<% @image.each do |image| %>
	<div class="card">
		<% if image.foto.attached? %>
		<%= image_tag image.foto, :style=>'width:250px;',class:"figure-img img-fluid rounded"%>
		<% end %>
		<div class="card-body">
			<%= link_to 'Editar',edit_image_path(image) %>
			<%= link_to 'Eliminar',image,method: :delete,data:{confirm:"seguro?"} %>
		</div>
		<!-- <img src="../../../public/img/bills.jpg" class="figure-img img-fluid rounded" alt=""> -->
	</div>
	<% end %>
</div>
<br>
